div {
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#container {
    height: 500px;
    width: 500px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
}



body {
    background-color: black;
    width: 100%;
    height:100vh;
}

.buttons {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: black;
}

button {
    font-size: 20px;
}